<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
          <p class="lead">{{ site.description }}</p>
      </h1>
    </div>

    <nav class="sidebar-nav">
        <a href="https://twitter.com/lpolovets"><i class="fa fa-twitter fa-2x"></i></a>&nbsp;&nbsp;
        <a href="http://www.linkedin.com/in/lpolovets"><i class="fa fa-linkedin-square fa-2x"></i></a>&nbsp;&nbsp;
        <a href="https://angel.co/lpolovets"><i class="fa fa-angellist fa-2x"></i></a>&nbsp;&nbsp;
        <a href="mailto:leo@susaventures.com"><i class="fa fa-envelope fa-2x"></i></a>
    </nav>

      <a href="{{ site.url }}about">About Me</a>&nbsp;&bullet;&nbsp;
      <a href="{{ site.url }}ways-i-can-help">Ways I Can Help</a>&nbsp;&bullet;&nbsp;
      <a href="{{ site.url }}tags">Tags</a>&nbsp;&bullet;&nbsp;
      <a href="{{ site.url }}archive ">Archive</a><br>

  </div>
</div>